.newsletter{
   display: flex;
   flex-direction: column;

   margin-top: 150px;
   max-width: 585px;

   &__title{
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.375rem;
      color: #8D8D8D;
   }

   &__main-title{
      display: block;
      font-family: 'Elsie Swash Caps', cursive;
      font-size: 5.125rem;
      line-height: 6rem;
      color: #202020;
      margin-top: 1.5rem
   }

   &__description{
      max-width: 480px;
      color: #8D8D8D;
      line-height: 1.625rem;
      margin: 1.5rem 0 2.25rem 0;
   }

}